* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
body {
    background-color: #f7f7f7;
}
.container {
    max-width: 500px;
    height: 550px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-title {
    text-align: center;
    margin-bottom: 20px;
}
.container-title img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pass-input {
    margin: 10px auto;
    width: 300px;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 30px;
    text-align: center;
    align-items: center;
}
.pass-input::placeholder {
    color: rgb(169, 169, 169);
    text-align: center;
}
h2 {
    color: #333;
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
p {
    color: #333;
}
button i {
    margin-right: 5px;
}
button {
    padding: 10px 30px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
    margin: 20px auto;
    display: block;
    width: fit-content;
}
button:hover {
    background-color: #0056b3;
}
.return-home {
    display: block;
    text-align: center;
    color: #333;
    text-decoration: none;
    font-size: 13px;
}
.return-home:hover {
    color: #007bff;
}
.error-message {
    font-size: 14px;
    color: #d9534f;
    margin-bottom: 10px;
}
.return-home {
    display: block;
    text-align: center;
    color: #333;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
}
.return-home:hover {
    color: #007bff;
}